{% extends "app/base.html" %}
{% block title %}
<title>Account Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Profile : <br> Welcome, {{request.user}} </h3>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    {% comment %} <p>Gender: {{ form.gender }}</p>
    <p>Height: {{ form.height }}</p>
    <p>Weight: {{ form.weight }}</p>
    <p>Activitylevel: {{ form.activitylevel }}</p> {% endcomment %}

</div>
<div class="form-group row" style="width: 200%; height: 50%; margin: 5% 40%;">
    <div class="col-md-12"> 
        <a href="{% url 'editProfile' %}" class="section-btn" type="submit">Edit Profile</a>                                  
    </div>                                                               
</div>
{% endblock %}
